<!-- Default home page -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'> -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/js/dependencies/assets/owl.carousel.css" type="text/css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Ropa+Sans|Pontano+Sans|Cinzel' rel='stylesheet' type='text/css'> -->
<style>
   . {
    font-family: 'Montserrat', sans-serif;
   }
   .welcome-panel {
   position: fixed;
   background-color: #d7234e;
   width: 100%;
   height: 55%;
   padding: 30px;
   color: white;
   transition: 3s linear;
   bottom: -60%;
   }

   .welcome-text {

      font-size: 16px;
      font-weight: 100;
   }
   .welcome-panel > h2 {
   text-transform: uppercase;
   }
   body  {
   background: #ffffff url("/images/web.png");
   background-size: 100%;
   background-repeat: no-repeat;
   }

  #hiddenButton
  {
   opacity: 0;
  }
  .welcome-greeting {
    /*font-family: 'Helvetica';*/
  }
  #cls-blk-quote {
    display: none;
    position: absolute;
    left: 122px;
    bottom: 75px;
  }

  #blk-quote {
    font-style: italic;
  }

</style>
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type"text/javascript" src="/js/dependencies/jquery-1.12.0.js"></script>
<script type"text/javascript" src="/js/dependencies/owl.carousel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div id="demo">
  
   <!-- Wrapper for slides  <img src="/images/web.png"  style="width:100%"> -->
   <button id="hiddenButton">&raquo; Run</button>
   <div id="welcomePanel" class="welcome-panel">
      <h2 class="welcome-greeting">
        <span id="greeting"></span> <span id="name"></span>!
      </h2>

      <p class="welcome-text" style="margin-top: 30px;">Welcome to Marriott! Our core values make us who we are. As we change and grow, the beliefs that are most important to us stay the same—putting people first, pursuing excellence, embracing change, acting with integrity and serving our world. Being part of Marriott International means being part of a proud history and a thriving culture.
         <span id ="hotelName" > 
         </span>
      </p>

      <p class="welcome-text">Enjoy your stay from
         <span id="starDate"></span> to <span id="endDate"></span>.
      </p>

      <div id="cls-blk-quote">
        <blockquote id="blk-quote"></blockquote>
        <div>- J.W. Marriott</div>  
      </div>
      
   </div>

</div>
</div>  

<script type"text/javascript">
   var res;
   var count =0;
   var greetingMsgArray = ["Happy Birthday"]; //, "Welcome","Happy Aniversary","Good Morning", "Good Evening";

   var quoteArray = ["Success seems to be connected to action. Successful people keep moving. They make mistakes, but they never quit.",
   "Great companies are built by people who never stop thinking about ways to improve the business.",
   "A man should keep on being constructive, and do constructive things. He should take part in the things that go on in this wonderful world. He should be someone to be reckoned with. He should live life and make every day count, to the very end.","Take care of your people and they will take care of your customers.", 
   "No person can get very far in life working 40 hours a week."];

   io.socket.on('myEvent', function(data) {
      if (data.success) {
         res = data;
         populateData();

         $("#welcomePanel").animate({
           bottom: 0
         }, {
           duration: 1,
           complete: function() {
              setTimeout(function(){
               $("#cls-blk-quote").fadeIn(5000); 
              }, 3000);
               
               setTimeout(hide, 10000);
           }
         });
      }
   });
   io.socket.get('/foo/example', function(body, response) {
       console.log("Server responded with status code " + response.statusCode + " and data: ", body);
   });

   $(document).ready(function() {});

   function hide(){

   }  
   function populateData(){

    if(count>4)
    {
      count = 0;
    }

      var greetingMsg = greetingMsgArray[count];

      var quote = quoteArray[count];

      $("#name").html(res.userName); 
      $("#starDate").html(res.starDate); 
      $("#endDate").html(res.endDate); 
      // $("#hotelName").html(res.hotelName); 
      $("#greeting").html(greetingMsg);
      $("#blk-quote").html(quote);
       
        count++;

     
   }

   $("#hiddenButton").click(function() {
    
       $("#welcomePanel").animate({
           bottom: 0
       }, {
           duration: 1,
           complete: function() {
               setTimeout(hide, 1000);
           }
       });
   });
</script>